@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

.clock {
  margin: 0;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Raleway", sans-serif;
  font-size: var(--inner-wheel-font-size);
}

.clock-element {
  position: absolute;
  width: 2em;
  height: 0.5em;
  text-align: left;
  transform-origin: top left;
}

.number {
  margin-top: -0.8ex;
}

.tick {
  height: 0.5px;
  width: var(--tick-width);
  margin-left: 1.5px;
  background: black;
  position: absolute;
  top: 50%;
}

.hour-wheel {
  font-size: var(--hour-wheel-font-size);
}

.hour-number {
  margin-top: -1ex;
}

.hand {
  height: var(--hand-thickness);
  border-radius: 3px;
  width: var(--hand-length);
  background: red;
  position: absolute;
  top: calc(50% + 0.4ex);
  right: 100%;
}

.meridian {
  position: absolute;
  font-size: calc(var(--inner-wheel-font-size) * 0.66);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  transform: translate(-50%, -300%);
  border: solid;
  border-width: 0.5px;
  border-radius: 3px;
  background-color: black;
  color: white;
}

#am {
  padding-left: 3px;
  padding-right: 1.5px;
}

#pm {
  padding-left: 1.5px;
  padding-right: 3px;
}

.slider {
  position: absolute;
  border-radius: 1.5px;
  color: black;
  background-color: black;
  height: 1.8ex;
  border: solid;
  border-color: black;
  border-width: 0.7px;
  margin-left: 1.5px;
}

@keyframes slide-to-pm {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(2.9ch);
  }
}

@keyframes slide-to-am {
  from {
    transform: translate(2.9ch);
  }
  to {
    transform: translate(0);
  }
}
