@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

:root {
  --inner-wheel-font-size: 24pt;
  --hour-wheel-font-size: 60pt;
  --seconds-wheel-radius: -180px;
  --minute-wheel-radius: -246px;
  --hour-wheel-radius: -360px;
  --tick-width: 20px;
  --hand-thickness: 3px;
  --hand-length: 375px;
}

@media screen and (max-width: 780px), (max-height: 780px) {
  :root {
    --inner-wheel-font-size: calc(24pt * 0.66);
    --hour-wheel-font-size: calc(60pt * 0.66);
    --tick-width: calc(20px * 0.66);
    --seconds-wheel-radius: calc(-180px * 0.66);
    --minute-wheel-radius: calc(-246px * 0.66);
    --hour-wheel-radius: calc(-360px * 0.66);
    --hand-thickness: 2.5px;
    --hand-length: calc(-1 * var(--hour-wheel-radius) + 10px);
  }
}

@media screen and (max-width: 550px), (max-height: 550px) {
  :root {
    --inner-wheel-font-size: calc(24pt * 0.5);
    --hour-wheel-font-size: calc(60pt * 0.5);
    --tick-width: calc(20px * 0.5);
    --seconds-wheel-radius: calc(-180px * 0.5);
    --minute-wheel-radius: calc(-246px * 0.5);
    --hour-wheel-radius: calc(-360px * 0.5);
    --hand-thickness: 2px;
    --hand-length: calc(-1 * var(--hour-wheel-radius) + 5px);
  }
}

.clock {
  margin: 0;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Raleway", sans-serif;
  font-size: var(--inner-wheel-font-size);
}

.clock-element {
  position: absolute;
  width: 2em;
  height: 0.5em;
  text-align: left;
  transform-origin: top left;
}

.number {
  margin-top: -0.8ex;
}

.tick {
  height: 0.5px;
  width: var(--tick-width);
  margin-left: 1.5px;
  background: black;
  position: absolute;
  top: 50%;
}

.hour-wheel {
  font-size: var(--hour-wheel-font-size);
}

.hour-number {
  margin-top: -1ex;
}

.hand {
  height: var(--hand-thickness);
  border-radius: 3px;
  width: var(--hand-length);
  background: red;
  position: absolute;
  top: calc(50% + 0.4ex);
  right: 100%;
}

.meridian {
  position: absolute;
  font-size: calc(var(--inner-wheel-font-size) * 0.66);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  transform: translate(-50%, -300%);
  border: solid;
  border-width: 0.5px;
  border-radius: 3px;
  background-color: black;
  color: white;
}

#am {
  padding-left: 3px;
  padding-right: 1.5px;
}

#pm {
  padding-left: 1.5px;
  padding-right: 3px;
}

.slider {
  position: absolute;
  border-radius: 1.5px;
  color: black;
  background-color: black;
  height: 1.8ex;
  border: solid;
  border-color: black;
  border-width: 0.7px;
  margin-left: 1.5px;
}

@keyframes slide-to-pm {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(2.9ch);
  }
}

@keyframes slide-to-am {
  from {
    transform: translate(2.9ch);
  }
  to {
    transform: translate(0);
  }
}
