@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

:root {
  --second-wheel-displacement: calc(var(--hour-wheel-radius) * 0.33);
  --minute-wheel-displacement: calc(var(--hour-wheel-radius) * 0.16);
  --hand-radius: calc(calc(var(--hour-wheel-radius) * 1.05) - 10px);
  --concentric-hand-length: calc(var(--hour-wheel-radius) * -0.4);
  --tick-width: 20px;
}

.clock {
  margin: 0;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Raleway", sans-serif;
  font-size: var(--inner-wheel-font-size);
  display: block;
}

.clock-element {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 2em;
  margin: -1em;
  text-align: center;
  line-height: 2em;
}

.tick {
  height: 0.5px;
  width: var(--tick-width);
  margin-left: 0.5em;
  background: black;
  position: absolute;
  top: 50%;
}

.hour-number {
  font-size: var(--hour-wheel-font-size);
}

.minute-wheel-wrapper {
  animation: minute-wheel-revolution 43200s linear infinite;
}

/* .second-wheel-wrapper {
  animation: second-wheel-revolution 43200s linear infinite;
} */

.second-wheel {
  animation: wheel-rotation 60s linear infinite;
}

.minute-wheel {
  animation: wheel-rotation 3600s linear infinite;
}

.concentric-hand {
  height: var(--hand-thickness);
  border-radius: 3px;
  width: var(--concentric-hand-length);
  background: red;
  position: absolute;
  transform-origin: top left;
  /* animation: hand 43200s linear infinite; */
}

@keyframes hand {
  from {
    transform: rotate(90deg) translate(var(--hand-radius));
  }
  to {
    transform: rotate(450deg) translate(var(--hand-radius));
  }
}

@keyframes minute-wheel-revolution {
  from {
    transform: rotate(0deg) translateY(var(--minute-wheel-displacement));
  }
  to {
    transform: rotate(360deg) translateY(var(--minute-wheel-displacement));
  }
}

@keyframes second-wheel-revolution {
  from {
    transform: rotate(0deg) translateY(var(--second-wheel-displacement));
  }
  to {
    transform: rotate(360deg) translateY(var(--second-wheel-displacement));
  }
}

@keyframes wheel-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
