:root {
  --second-wheel-font-size: 16pt;
  --inner-wheel-font-size: 24pt;
  --hour-wheel-font-size: 40pt;
  --second-wheel-radius: -175px;
  --minute-wheel-radius: -285px;
  --hour-wheel-radius: -400px;
  --tick-width: 10px;
  --hand-thickness: 3px;
}

@media screen and (max-width: 900px), (max-height: 900px) {
  :root {
    --inner-wheel-font-size: calc(24pt * 0.66);
    --hour-wheel-font-size: calc(40pt * 0.66);
    --tick-width: calc(20px * 0.66);
    --second-wheel-radius: -126px;
    --minute-wheel-radius: calc(-246px * 0.82);
    --hour-wheel-radius: calc(-360px * 0.8);
    --hand-thickness: 2.5px;
  }
}

@media screen and (max-width: 640px), (max-height: 640px) {
  :root {
    --inner-wheel-font-size: calc(16pt * 0.5);
    --hour-wheel-font-size: calc(60pt * 0.4);
    --tick-width: calc(20px * 0.5);
    --second-wheel-radius: -70px;
    --minute-wheel-radius: -115px;
    --hour-wheel-radius: calc(-360px * 0.5);
    --hand-thickness: 2px;
    --tick-width: 5px;
    --concentric-hand-length: calc(var(--hour-wheel-radius) * -0.4 + 10px);
  }
}
