@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

.clock {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Raleway", sans-serif;
}

.seconds-element {
  position: absolute;
  top: 50%;
  left: 50%;
}
