@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

.clock {
  margin: 0;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Raleway", sans-serif;
  transform: scale(2);
}

@media screen and (max-width: 760px), (max-height: 760px) {
  .clock {
    transform: scale(1.5);
  }
}

@media screen and (max-width: 580px), (max-height: 580px) {
  .clock {
    transform: scale(1);
  }
}

.clock-element {
  position: absolute;
  width: 2em;
  height: 0.5em;
  text-align: left;
  transform-origin: top left;
}

.number {
  margin-top: -7.5px;
}

.tick {
  height: 0.5px;
  width: 5px;
  margin-left: 1.5px;
  background: black;
  position: absolute;
  top: 50%;
}

.hour-wheel {
  font-size: 30pt;
}

.hour-number {
  margin-top: -24px;
}

.hand {
  height: 2px;
  border-radius: 1px;
  width: 185px;
  background: red;
  position: absolute;
  top: calc(50% + 3.5px);
  right: 100%;
}
